.btn {
    -fx-background-color: #27ae60;
    -fx-background-radius: 0;
}

.text-label {
    -fx-font-size: 20px
}

.input {
    -fx-background-radius: 0;
    -fx-padding: 2;
}

#username {
    -fx-background-radius: 4 4 0 0;
}

#password {
    -fx-background-radius: 0 0 4 4;
}

.text-field {
    -fx-prompt-text-fill: #bdc3c7;
    -fx-text-fill: #ecf0f1;
}

.jfx-button-type {
    -fx-text-fill: #ecf0f1;
    -fx-background-color: #27ae60;
}
.jfx-button-type2 {
    -fx-text-fill: #ecf0f1;
    -fx-background-color: #e74c3c;
}